# ðŸ“Š ESS 10 Data Analysis - subsetting dataframes using pandas
This notebook shows how to:  
1. Load data from the **European Social Survey (ESS10)**
2. Create a **list of variables** to keep
3. Create a **subset of the dataset**
4. Create a subset **that uses only French data** using two different methods

Each step is commented to help understand the code.

In [16]:
import pandas as pd

In [17]:
# load csv file

filename1 = "/home/bruno/Nextcloud/Brunos Dokumente/Uni/data/ESS/ESS10/ESS10.csv" # replace for your own filename
df1 = pd.read_csv(filename1) # gets the file and saves it in "df1"

/tmp/ipykernel_25903/1129831317.py:4: DtypeWarning: Columns (166,172,174,607,608) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(filename1) # gets the file and saves it in "df1"

In [18]:
type(df1) # df1 is of type DataFrame, a special pandas type to save date

pandas.core.frame.DataFrame

In [19]:
df1.head() # gives out the first 5 rows of the dataframe df1

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,vinwe,inwde,jinws,jinwe,inwtm,mode,domain,prob,stratum,psu
0,ESS10e03_2,10,3.2,02.11.2023,10038,BE,0.882220,0.972276,0.718075,0.698167,...,2022-09-01 17:47:00,2022-09-01 17:47:00,2022-09-01 17:47:00,2022-09-01 17:47:00,36.0,1,1.0,0.000397,188,2596
1,ESS10e03_2,10,3.2,02.11.2023,10053,BE,1.047643,0.888635,0.718075,0.638107,...,2022-04-08 11:07:00,2022-04-08 11:10:00,2022-04-08 11:07:00,2022-04-08 11:10:00,54.0,2,2.0,0.000334,194,2206
2,ESS10e03_2,10,3.2,02.11.2023,10055,BE,1.087741,0.722811,0.718075,0.519033,...,2022-05-20 11:08:00,2022-05-20 11:10:00,2022-05-20 11:08:00,2022-05-20 11:10:00,77.0,1,2.0,0.000322,198,2114
3,ESS10e03_2,10,3.2,02.11.2023,10062,BE,0.909910,1.005565,0.718075,0.722072,...,2022-05-22 13:58:00,2022-05-22 13:59:00,2022-05-22 13:58:00,2022-05-22 13:59:00,55.0,1,1.0,0.000385,150,2645
4,ESS10e03_2,10,3.2,02.11.2023,10064,BE,0.918949,0.638705,0.718075,0.458639,...,2022-05-18 11:44:00,2022-05-18 11:45:00,2022-05-18 11:44:00,2022-05-18 11:45:00,55.0,1,1.0,0.000381,149,2313

In [ ]:
# insert the names of the variables that are important for the research
# the choice of the variables is justified in the data_and_ressources.typst document on our typst
# in order to get an overview of the variables to add them, check the "ESS10 codebook.html" 
# that you downloaded with the dataset

variables = ["cntry", "prtdgcl", "clsprty", "lrscale", "prtclffr"]

In [21]:
# creates a new dataframe that only contains the variables that we want (called "subsetting")
# this means we don't have to use the large file of 676 columns = 676 variables so it takes less computing power

df1_subset = df1[variables] 

# gives out the first 5 rows of the  new subset

df1_subset.head()

  cntry  prtdgcl  clsprty  lrscale  prtclffr
0    BE        6        2        3       NaN
1    BE        6        2        5       NaN
2    BE        3        1        5       NaN
3    BE        6        2        5       NaN
4    BE        6        2        4       NaN

In [ ]:
# filters after variables and whether the country is France using the object df1_subset

df1_subset_french1 = df1_subset[df1_subset["cntry"] == "FR"]
df1_subset_french1.head()

      cntry  prtdgcl  clsprty  lrscale  prtclffr
11177    FR        6        2        5      66.0
11178    FR        3        1        0       4.0
11179    FR        6        2        5      66.0
11180    FR        6        2        3      66.0
11181    FR        6        2        5      66.0

In [ ]:
# filters after variables and whether the country is France using the object df1 and the .loc method

df1_subset_french2 = df1.loc[df1["cntry"] == "FR", variables]
df1_subset_french2.head()

      cntry  prtdgcl  clsprty  lrscale  prtclffr
11177    FR        6        2        5      66.0
11178    FR        3        1        0       4.0
11179    FR        6        2        5      66.0
11180    FR        6        2        3      66.0
11181    FR        6        2        5      66.0

In [ ]:

# the two methods are the same
print(df1_subset_french1.equals(df1_subset_french2))  # True

True